@import "vars";

@media (max-width: 479px) {
  .GoogleMapsIframe {
    position: relative;
    height: 60vh;
    z-index: 1;
  }

  .smallCloseButton {
    margin-top: -30px;
  }
  .suggestionMessage {
    background-position: 50% -430px;
  }
  .CardDetails:last-child {
    display: block;
  }
  .personaliseFields {
    padding-bottom: 15px;
    padding-top: 10px;
  }
  .mobileHide {
    display: none;
  }
  .Bill-item,
  .Bill-total {
    margin-bottom: 20px;
    width: 60%;
  }
  .Bill-item:after,
  .Bill-total:after {
    margin-top: 10px;
  }
  .Bill-total:after,
  .Bill-total:before {
    margin-top: 6px;
  }
  .Bill-total:before {
    margin-top: -10px;
  }
  .Bill-detail {
    display: block;
  }
  .Bill-price {
    width: 40%;
  }
  .c-show-ingredients-personalisation {
    background-position: -234px -2210px !important;
  }
  .c-show-ingredients-personalisation.csi-active {
    background-position: 342px -2642px !important;
  }
  .PrevMonthButton {
    background-position: 12px -2422px;
    width: 50px;
  }
  .PrevMonthButton:hover {
    background-position: 12px -2372px;
  }
  .NextMonthButton {
    background-position: 30px -2522px;
    width: 50px;
  }
  .NextMonthButton:hover {
    background-position: 30px -2472px;
  }
  .Months {
    padding: 0;
  }
  .Week-list {
    padding: 0;
  }
  .Week-item {
    font-size: 0;
    text-indent: 5%;
  }
  .Week-item,
  .Day-item {
    height: 31px;
  }
  .Day-link {
    font-family: "brandon-grotesque", sans-serif;
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 400;
    font-style: italic;
  }
  .List--border {
    column-count: 1;
  }
  .c-site-banner #closeBannerMobile {
    display: block;
  }
  .c-site-banner {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: none;
  }
  .c-site-banner--hidden {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .c-site-banner .c-banner-content {
    height: auto;
    padding: 0 60px 0 24px;
  }
  .c-site-banner .c-banner-content #closeBanner #closeSvg {
    display: none;
  }
  .smallestWrap,
  .smallestWrap--full {
    margin: 0 20px;
  }
}

@media only screen and (max-width: 479px) {
  .mobile-oneWhole {
    width: 100%;
  }

  .mobile-oneHalf,
  .mobile-twoQuarters,
  .mobile-threeSixths,
  .mobile-fourEighths,
  .mobile-fiveTenths,
  .mobile-sixTwelfths {
    width: 50%;
  }

  .mobile-oneThird,
  .mobile-twoSixths,
  .mobile-fourTwelfths {
    width: 33.333%;
  }

  .mobile-twoThirds,
  .mobile-fourSixths,
  .mobile-eightTwelfths {
    width: 66.666%;
  }

  .mobile-oneQuarter,
  .mobile-twoEighths,
  .mobile-threeTwelfths {
    width: 25%;
  }

  .mobile-threeQuarters,
  .mobile-sixEighths,
  .mobile-nineTwelfths {
    width: 75%;
  }

  .mobile-oneFifth,
  .mobile-twoTenths {
    width: 20%;
  }

  .mobile-twoFifths,
  .mobile-fourTenths {
    width: 40%;
  }

  .mobile-threeFifths,
  .mobile-sixTenths {
    width: 60%;
  }

  .mobile-fourFifths,
  .mobile-eightTenths {
    width: 80%;
  }

  .mobile-oneSixth,
  .mobile-twoTwelfths {
    width: 16.666%;
  }

  .mobile-fiveSixths,
  .mobile-tenTwelfths {
    width: 83.333%;
  }

  .mobile-oneEighth {
    width: 12.5%;
  }

  .mobile-threeEighths {
    width: 37.5%;
  }

  .mobile-fiveEighths {
    width: 62.5%;
  }

  .mobile-sevenEighths {
    width: 87.5%;
  }

  .mobile-oneTenth {
    width: 10%;
  }

  .mobile-threeTenths {
    width: 30%;
  }

  .mobile-sevenTenths {
    width: 70%;
  }

  .mobile-nineTenths {
    width: 90%;
  }

  .mobile-oneTwelfth {
    width: 8.333%;
  }

  .mobile-fiveTwelfths {
    width: 41.666%;
  }

  .mobile-sevenTwelfths {
    width: 58.333%;
  }

  .mobile-elevenTwelfths {
    width: 91.666%;
  }
}

@media only screen and (max-width: 479px) and (-webkit-min-device-pixel-ratio: 1.3),
  only screen and (max-width: 479px) and (min--moz-device-pixel-ratio: 1.3),
  only screen and (max-width: 479px) and (-o-min-device-pixel-ratio: 13 / 10),
  only screen and (max-width: 479px) and (min-device-pixel-ratio: 1.3),
  only screen and (max-width: 479px) and (min-resolution: 124.8dpi),
  only screen and (max-width: 479px) and (min-resolution: 1.3dppx) {
  .suggestionMessage {
    background-position: 50% -430px;
  }
  .PrevMonthButton {
    background-position: 12px -2422px;
  }
  .PrevMonthButton:hover {
    background-position: 12px -2372px;
  }
  .NextMonthButton {
    background-position: 30px -2522px;
  }
  .NextMonthButton:hover {
    background-position: 30px -2472px;
  }
}
