$corporateRedColor: #d71d35;
$corporateGreyColor: #333333;
$middleGreyColor: #666666;
$lightGreyColor: #999999;
$extraLigthGreyColor: #cccccc;
$corporateWhiteColor: #fafaf6;
$borderColor: #d3d3c8;
$whiteColor: #ffffff;
$almostWhiteColor: #f1f1eb;
$alternativeWhiteColor: #e7e7dc;
